*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(20, 20, 20);
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

body{
    height: 100vh;
    display: flex;
    flex-flow: column;
    /* position: relative; */
}

body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

nav{
    color: #6C6F7D;
    /* margin: 0 2% 0; */
    /* border-radius: 30px; */
    background-color: beige;
    /* position: static;
    border: 1px solid red; */
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav li{
    padding: 1rem;
    margin: 0 1rem;
}

nav a{
    display: block;
    text-transform: uppercase;
}

nav a:any-link{
    color: #6C6F7D;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
}

nav a:hover,
nav a:focus{
    transform: scale(1.1);
    transition: all 0.1s;
}

nav li:first-child{
    margin-right: auto;
    font-weight: bold;
}

main{
    height: 100vh;
}

.image-track {
    display: flex;
    gap: 4vmin;
    overflow-x: auto;
    max-width: 100vw;
    height: 100%;
}

.image-track::-webkit-scrollbar{
    display: none;
}

/* .image:first-child {
    display: flex;
    gap: 4vmin;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    border: 1px solid orange;
    margin: auto;
    position: relative;
} 

.image:nth-child(2){
    display: flex;
    gap: 4vmin;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    border: 1px solid orange;
    margin: auto;
} */
 
.image{
    display: flex;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    border: 1px solid orange;
    inset: 0;
    margin: auto;
}

@media(max-width: 799px){
    .hide-on-mobile{
        display: none;
    }
}